.container {
  height: 100vh;
  width: 100%;
  background-color: #d9cdf7;
  display: grid;
  grid-template-areas:
    "A"
    "B";
  gap: 3em;
  align-content: center;

  @media (min-width: 768px) {
    grid-template-areas: "A B";
    grid-template-columns: 1fr 1fr;
    padding: 5em;
  }
}

.leftContainer {
  grid-area: A;
  width: 100%;

  .sofa {
    width: 100%;
    max-width: 1200px;
  }
  .wrapper {
    position: relative;
    width: 100%;
  }

  .buttonGif {
    width: 100%;
    max-width: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
      cursor: pointer;
      scale: 1.05;
      transition: all 0.3s ease-in-out;
    }
  }

  .buttonXGif {
    width: 100%;
    max-width: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
      cursor: pointer;
      scale: 1.05;
      transition: all 0.3s ease-in-out;
    }
  }
}

.rightContainer {
  grid-area: B;
  font-family: "Lato", sans-serif;
  color: #271a45;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    align-items: flex-start;
  }

  .title {
    font-family: "Crimson Pro", serif;
    font-weight: 600;
    font-size: clamp(32px, 3vw, 64px);
  }

  .button__cest {
    background-color: transparent;
    border: 1px solid #271a45;
    border-radius: 9999px;
    padding: 0.8em 2em;
    font-weight: 400;
    color: #271a45;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #000;
      color: #d9cdf7;
    }
    margin-top: 2rem;
    width: 100%;
    max-width: fit-content;
    font-size: clamp(10px, 5vw, 18px);
  }

  .code {
    font-size: clamp(10px, 5vw, 12px);
    line-height: 10px;
  }

  .price {
    font-size: clamp(12px, 5vw, 24px);
    opacity: 0.67;
  }
}
