<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&family=Lato:wght@300;400&display=swap"
    rel="stylesheet"
  />
</head>
<main class="container">
  <div class="leftContainer">
    <div class="wrapper">
      <img
        src="../assets/x.svg"
        alt="button to change view"
        class="buttonXGif"
        *ngIf="!isStaticImage"
        (click)="isStaticImage = !isStaticImage"
      />

      <img
        src="../assets/360.svg"
        alt="button to change view"
        class="buttonGif"
        *ngIf="isStaticImage"
        (click)="isStaticImage = !isStaticImage"
      />

      <img
        src="../assets/sofa.png"
        alt="sofa"
        class="sofa"
        *ngIf="isStaticImage"
      />

      <img
        src="../assets/sofa.gif"
        alt="sofa"
        class="sofa"
        *ngIf="!isStaticImage"
      />
    </div>
  </div>
  <div class="rightContainer">
    <p class="code">CÓDIGO: 42404</p>
    <h1 class="title">Sofá Margot II - Rosé</h1>
    <p class="price">R$ 4.000</p>
    <button class="button__cest" (click)="handleBuy($event)">
      ADICIONAR À CESTA
    </button>
  </div>
</main>
<app-toast></app-toast>
<router-outlet></router-outlet>
